@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "User management";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <!-- и так далее... -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <!-- и так далее... -->
            </tr>
        }
    </tbody>
</table> 