@model Accountool.Models.ViewModel.MeasureWithIndication

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-2 border border-primary border-right shadow box-shadow">
                @Html.Partial("./../MeasureTypes/_MeasureMenu", Model.MeasureTypes)
            </div>
            <div class="col-md-10">
                @Html.Partial("./../Indications/Index", Model.Indications)
            </div>
        </div>
    </main>
</div>