@model Accountool.Models.ViewModel.MeasureWithIndication

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-12 border border-primary border-right shadow box-shadow text-center">
                <h1>Welcome to Your Organization Account tool</h1>
            </div>
        </div>
    </main>
</div>